html {
  scroll-behavior: smooth;

  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto";

  list-style: none;
  box-sizing: border-box;
  background: #000;
}

nav {
  position: fixed;
  z-index: 100;
  height: 8vh;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

nav .nav-links ul {
  display: flex;
  flex-direction: row;
}

nav .nav-links ul li {
  padding: 0 4px;

  list-style: none;
}

nav .nav-links ul li img {
  transform: scale(0.45);
}

section {
  height: 100vh;
  overflow: hidden;
  background-color: #060a0a;
}

.bg img {
  width: 110vw;
  height: 110vh;
  filter: brightness(0.5);
  left: -1000px !important;
  /* background-color: #060a0a; */
}

.text a {
  font-family: "Poppins" !important;
  font-size: 2.5vw;
  color: #fff;
  letter-spacing: 20px;
  position: absolute;
  top: 35vh;
  left: 34vw;
}

.earth img {
  width: 500px;

  position: absolute;
  left: 30vw;
  top: 2vh;
  z-index: 1;
  filter: brightness(1);
}

.mid {
  left: 150px !important;
  bottom: 120px !important;
  top: 150px !important;
  width: auto;
}

.mid h2 {
  font-family: "Poppins", sans-serif !important;
  font-size: 8em;
  color: #fff;
  letter-spacing: 20px;
  position: absolute;
  top: 3vh;
  text-transform: uppercase;
  left: 5vw;
  z-index: -2;
  opacity: 0.8;
}

.fore {
  right: 700px !important;
  bottom: 0px !important;
  top: 150px !important;
  left: unset !important;
}

.fore h2 {
  font-family: "Poppins", sans-serif !important;
  font-size: 8em;
  color: #fff;
  letter-spacing: 20px;
  position: absolute;
  top: 3vh;
  text-transform: uppercase;
  left: 5vw;
  z-index: -2;
  opacity: 0.8;
}

/* SWIPER */

#sectiontwo {
  width: 100%;
  height: 100vh;
  position: relative;
}

.rockbg1 {
  position: absolute;
  transform: scale(0.2);
  filter: brightness(0.2);
  top: 20vh;
  left: 0;
  z-index: 1;
}

.planet-links {
  width: 95%;
  height: 5vh;
  color: #fff;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.planet-links .swiper-pagination-bullet {
  opacity: 0.2;
  outline: none;
}
.planet-links .swiper-pagination-bullet-active {
  color: #fff;
  opacity: 1;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: transparent;
}

.swiper-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px 0;
}

.swiper-wrapper {
  transition-delay: 0.5s;
}

.swiper-slide {
  height: 500px !important;
  width: 90% !important;
  background: transparent;
}

.swiper-slide:nth-child(1) .slide-img {
  background-image: url("../images/hen-02.png");
}
.swiper-slide:nth-child(2) .slide-img {
  background-image: url("../images/hen-03.png");
}
.swiper-slide:nth-child(3) .slide-img {
  background-image: url("../images/hen-02.png");
}
.swiper-slide:nth-child(4) .slide-img {
  background-image: url("../images/hen-04.png");
}
/* .swiper-slide:nth-child(5) .slide-img {
  background-image: url("images/jupiter.png");
}
.swiper-slide:nth-child(6) .slide-img {
  background-image: url("images/saturn.png");
}
.swiper-slide:nth-child(7) .slide-img {
  background-image: url("images/uranus.png");
}
.swiper-slide:nth-child(8) .slide-img {
  background-image: url("images/neptune.png");
} */

.slide-img {
  background-position: "center";
  background-repeat: no-repeat !important;
  background-size: contain;
  width: 30%;
  height: 100%;
  position: relative;
  top: 50px;
  transform: rotate(0) !important;
}

.slide-number {
  position: absolute;
  top: -30px;
  left: 30%;
  width: 200px;
  height: 120px;
  /* overflow: hidden; */
  z-index: 10;
}

.slide-number p {
  font-size: 45px;
  font-family: "poppins" !important;
  color: #fff;
  width: 200px;
  position: relative;
}

.slide-number p span {
  position: absolute;
  width: 200px;
}

.slide-detail {
  position: absolute;
  top: 130px;
  left: 30%;
  z-index: 10;
  width: 40%;
  height: 400px;
  overflow: hidden;
}

.slide-detail p {
  font-size: 20px;
  color: #fff;
  position: relative;
  opacity: 0.8;
  line-height: 30px;
}

.slide-detail p span {
  position: absolute;
}

.slide-detail-facts {
  position: absolute;
  top: 250px;
  left: 30%;
  z-index: 10;
  width: 50%;
  height: 400px;
  overflow: hidden;
  color: #fff;
}
.slide-detail-facts div {
  display: flex;
  position: relative;
}
.slide-detail-facts div h5 {
  margin-right: 20px;
}

.slide-text {
  position: absolute;
  top: -150px;
  left: 22%;
  z-index: 9;
  width: 200px;
  height: 400px;
  overflow: hidden;
  opacity: 0.1 !important;
}

.slide-text h4 {
  color: #fff;
  font-size: 100px;
  position: relative;
}
.slide-text h4 span {
  position: absolute;
}

.checked {
  color: orange;
}

.emp,
.skname {
  color: #fff !important;
}
.fa {
  font-size: 20px !important;
}
#thiss {
  width: 60% !important;
  left: 20% !important;
  height: 600px !important;
}
.row {
  margin: -20px 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  padding: 0 15px;
  float: left;
  box-sizing: border-box;
}
.row .col.x-50 {
  width: 50%;
}
.row .col.x-100 {
  width: 100%;
}

.content-wrapper {
  min-height: 100%;
  position: relative;
}

.get-in-touch {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}
.get-in-touch .title {
  text-align: center;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 48px;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #94f3e4;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #fff;
  background-color: #060a0a;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #fff;
  cursor: text;
  transition: transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #94f3e4;
  color: #060a0a;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#thisss {
  width: 60% !important;
  left: 30% !important;
  height: 600px !important;
  overflow: visible !important;
}
.fas {
  font-size: 50px;
  position: relative;
  top: 5px;
}
.nxl {
  position: relative;
  left: 120px;
  top: 25px;
}
